In [1]:
from tpot import TPOTClassifier
import numpy as np
import pandas as pd

C:\Users\rakes\anaconda3\lib\site-packages\tpot\builtins\__init__.py:36: UserWarning: Warning: optional dependency `torch` is not available. - skipping import of NN models.
  warnings.warn("Warning: optional dependency `torch` is not available. - skipping import of NN models.")

In [4]:
from sklearn.model_selection import train_test_split
df=pd.read_excel('covid.xls')

In [5]:
df

,id,age,sex,diabetes,hypertension,cvd,copd,cancer,renal,ace,...,ageclass,ageclass1,ageclass2,ageclass3,ageclass4,ageclass5,ageclass6,ageclass7,severe,death
0,1,64.194389,0,0,0,0,0,0,0,0,...,69.989998,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0,0
1,2,76.917183,1,0,1,1,0,0,0,0,...,79.989998,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,1
2,3,23.460644,0,0,0,0,0,0,0,0,...,39.990002,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0,0
3,4,30.447639,0,0,0,0,0,0,0,0,...,39.990002,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0,0
4,5,55.299110,1,0,0,0,0,0,0,0,...,59.990002,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1598,1599,53.000000,1,0,0,0,0,0,0,0,...,59.990002,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1,0
1599,1600,45.000000,0,0,0,0,0,0,0,0,...,49.990002,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0,0
1600,1601,56.000000,1,0,0,0,0,0,0,0,...,59.990002,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0,0
1601,1602,46.000000,1,0,0,0,0,0,0,0,...,49.990002,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0,0
1602,1603,56.000000,1,0,0,0,0,0,0,0,...,59.990002,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0,0

In [6]:
X=df.iloc[:,:-1]
y=df.iloc[:,-1]

In [9]:
X

,id,age,sex,diabetes,hypertension,cvd,copd,cancer,renal,ace,...,verysevere,ageclass,ageclass1,ageclass2,ageclass3,ageclass4,ageclass5,ageclass6,ageclass7,severe
0,1,64.194389,0,0,0,0,0,0,0,0,...,0,69.989998,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0
1,2,76.917183,1,0,1,1,0,0,0,0,...,1,79.989998,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1
2,3,23.460644,0,0,0,0,0,0,0,0,...,0,39.990002,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0
3,4,30.447639,0,0,0,0,0,0,0,0,...,0,39.990002,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0
4,5,55.299110,1,0,0,0,0,0,0,0,...,0,59.990002,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1598,1599,53.000000,1,0,0,0,0,0,0,0,...,0,59.990002,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1
1599,1600,45.000000,0,0,0,0,0,0,0,0,...,0,49.990002,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0
1600,1601,56.000000,1,0,0,0,0,0,0,0,...,0,59.990002,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0
1601,1602,46.000000,1,0,0,0,0,0,0,0,...,0,49.990002,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0
1602,1603,56.000000,1,0,0,0,0,0,0,0,...,0,59.990002,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0

In [10]:
y

0       0
1       1
2       0
3       0
4       0
       ..
1598    0
1599    0
1600    0
1601    0
1602    0
Name: death, Length: 1603, dtype: int64

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X,y,train_size=0.75, test_size=0.25)

In [12]:
tpot = TPOTClassifier(verbosity=2, max_time_mins=1)
tpot.fit(X_train, y_train)
print(tpot.score(X_test, y_test))

Imputing missing values in feature set

Optimization Progress:   0%|          | 0/100 [00:00<?, ?pipeline/s]

1.01 minutes have elapsed. TPOT will close down.
TPOT closed during evaluation in one generation.
WARNING: TPOT may not provide a good pipeline if TPOT is stopped/interrupted in a early generation.


TPOT closed prematurely. Will use the current best pipeline.

Best pipeline: DecisionTreeClassifier(input_matrix, criterion=gini, max_depth=5, min_samples_leaf=12, min_samples_split=19)
Imputing missing values in feature set
0.9576059850374065

In [13]:
tpot.fitted_pipeline_

Pipeline(steps=[('decisiontreeclassifier',
                 DecisionTreeClassifier(max_depth=5, min_samples_leaf=12,
                                        min_samples_split=19))])

In [14]:
print(tpot.score(X_test, y_test))

Imputing missing values in feature set
0.9576059850374065

In [15]:

tpot.export('covid.py')